{
    "*.ts": [
      "nx affected:lint --fix --files --ignore-pattern='apps/web/.contentlayer/**'"
    ],
    "*": [
      "npx nx format:write --files"
    ],
    "*.scss": [
      "npx stylelint --fix"
    ]
  }
  